player-connection-mode=Listen
player-connection-guid=2149420668
player-connection-debug=0
player-connection-project-name=Mobile Program
player-connection-ip=192.168.56.1
player-connection-ip=10.26.147.161
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0ff13e70a70c4ea896f4e6965c61c9b9
